body,
ul, li,
ol {
  margin: 0;
  padding: 0; }

@media (max-width: 640px) {
  .description {
    height: 35em; }

  h3 {
    margin-top: 50px;
    font-size: 4vw; }

  .salaryBox {
    margin: -3.75em 0.25em; }

  .warpUpperBlock {
    height: 200vh; }

  .warpMiddleBlock {
    flex-direction: column; }

  .middleBlock {
    margin: 140em 0 0 9%; }

  .sliderBlock {
    margin: 200em 0 0 19%; }

  #base {
    height: 235em; } }
@media (min-width: 640px) and (max-width: 860px) {
  .description {
    height: 31em; }

  h3 {
    margin-top: 50px;
    font-size: 3vw; }

  .warpUpperBlock {
    height: 170vh; }

  .warpMiddleBlock {
    flex-direction: column; }

  .sliderBlock {
    margin: 180em 0 0 19%; }

  #base {
    height: 220em; }

  #footer {
    margin-top: 218em; } }
@media (min-width: 860px) {
  h1 {
    font-size: 7vw; } }
/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/Roboto-Bold.ttf');
}
*/
body {
  background-color: #d8dfe7;
  width: 100%;
  padding: 0px;
  margin: 0px; }

h1, h3, p {
  color: #fcfafd; }

h1 {
  position: absolute;
  z-index: 4;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  text-shadow: 0 3px 29px black;
  font-family: 'Myriad Pro';
  font-stretch: extra-condensed;
  margin: 10px 0px; }

h3 {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-family: 'Roboto'; }

h2 {
  font-family: 'Myriad Pro';
  padding: 5px 0px 0px 20px; }

h5 {
  margin: 0px 10px;
  color: #a22269; }

hr {
  width: 90%; }

p {
  margin: 20px 40px; }

label {
  color: #daafaf; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #273444;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); }
  #myBtn:hover {
    background-color: #369cd6; }

#mySalary, #salary {
  color: #000; }

.salaryBox {
  background: #182e4a61;
  width: 18em;
  height: 25em;
  padding: 1px;
  margin: -1.875em 6.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); }

.currency {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 14px; }

.currencyP {
  margin: 5px; }

.currencyDiv {
  margin: 10px 20px; }

#myRates {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Roboto';
  margin: 1em 5em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

#canvas {
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  margin: auto; }

#base {
  margin: 0% 20%;
  background: #273444;
  height: 202em;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); }

#line {
  display: flex;
  flex-direction: row; }

.rope {
  background: linear-gradient(to left, #bab1a0, #bab1a0, #9e8f76, #857969);
  width: 10px;
  z-index: 1;
  height: 9.375em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

.ropeL {
  margin-left: 30%; }

.ropeR {
  position: absolute;
  margin-right: 30%;
  right: 0; }

.backImgHtml, .backImgCss, .backImgJs {
  z-index: 0;
  width: 30%;
  position: absolute; }

.backImgHtml {
  margin-top: 25em; }

.backImgCss {
  right: 0;
  margin-top: 68em; }

.backImgJs {
  margin-top: 100em; }

.description {
  width: 56%;
  height: 25em;
  position: absolute;
  z-index: 3;
  margin: 3% 0px 0px 35%;
  background: #435265d1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

#aboutMy {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 37em;
  font-family: 'Roboto';
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }
  #aboutMy:hover {
    background: #3b4d56;
    color: #fff; }

#myRates:hover {
  background: #3b4d56;
  color: #fff; }

.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.popup {
  display: none;
  position: relative;
  z-index: 1000;
  margin: 0 20% 0 20%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.object {
  position: absolute;
  margin-top: 50px;
  width: 800px;
  height: 1300px;
  background-color: #eee;
  padding: 50px 70px;
  border-radius: 10px; }

.aboutMy, .myPhoto {
  display: inline-block; }

.aboutMy {
  width: 60%; }

.myPhoto img {
  width: 200px;
  margin: 10px 10px 122px 40px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.object p, .caption, .capLight, .myName {
  color: #000;
  padding: 2px;
  margin: 2px;
  font-family: 'Roboto'; }

.object p {
  font-size: 14pt; }

.myName {
  font-size: 16pt;
  font-weight: bold; }

.caption {
  font-size: 14pt;
  font-weight: bold; }

.capLight {
  font-size: 14pt;
  font-style: italic;
  font-weight: bold; }

#down {
  background: #337ab7;
  color: #fff;
  border-radius: 10px;
  border-color: #85c5fb;
  font-weight: bold;
  margin: 40px 0 0 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }
  #down:hover {
    background: #76a8d3; }

.upperBlock {
  width: 60%;
  height: 48em;
  background: #f199737d;
  position: absolute;
  z-index: 3;
  margin: 750px 0 0 21%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

.warpUpperBlock {
  width: 90%;
  height: 110vh;
  background: #f16529;
  margin: -40px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 8%; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.element-item {
  position: relative;
  float: right;
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05); }
  .element-item > * {
    margin: 0;
    padding: 0; }
  .element-item:hover {
    opacity: 0.75; }
  .element-item .name {
    position: absolute;
    left: 0px;
    top: 30px;
    font-size: 11pt;
    color: #000;
    font-family: cursive; }
  .element-item.templateers {
    background: #0c4de4; }
  .element-item.taskManagers {
    background: #ff9eba; }
  .element-item.bandlers {
    background: #ccff00; }
  .element-item.frameworksJS {
    background: #33ff00; }
  .element-item.preprocessorsCSS {
    background: #00ff66; }
  .element-item.frameworksCSS {
    background: cyan; }

.button {
  display: inline-block;
  padding: 0.5em 0.5em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 13px;
  text-shadow: 0 1px white;
  cursor: pointer;
  border-radius: 0.5em; }
  .button:hover {
    background-color: #59687b;
    color: #fff; }
  .button:active {
    background-color: #273444; }
  .button.is-checked {
    background-color: #273444;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5); }
  .button:active {
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8); }

.button-group {
  margin: 10px 4px; }
  .button-group:after {
    content: '';
    display: block;
    clear: both; }
  .button-group .button {
    float: left;
    border-radius: 5px;
    margin-left: 0;
    margin: 2px 3px; }

.middleBlock {
  position: absolute;
  z-index: 3;
  margin: 120em 0 0 9%;
  background: #2162af94;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

.warpMiddleBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  margin: -50px 50px;
  background: #369cd6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.radialCanvas, .polarCanvas {
  margin: 5px auto;
  width: 300px;
  height: 330px;
  background: #f7e5e5;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.sliderBlock {
  position: absolute;
  z-index: 3;
  margin: 160em 0 0 19%;
  background: #f2bf22bd;
  width: 70%;
  height: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15); }

.warpSliderBlock {
  width: 100%;
  height: 25em;
  margin: -50px 50px;
  background: #f9c937;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); }

.slider {
  width: 80%;
  display: block;
  position: relative;
  color: #fff;
  font-size: 30px;
  padding: 0px 10px; }

.controls {
  position: absolute;
  top: 70%;
  left: 20%;
  pointer-events: none; }

.arrow {
  position: absolute;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  -o-transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; }
  .arrow:hover {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);}
  .arrow:active {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); }
  .arrow #left {
    margin-right: 640px;
    pointer-events: auto; }
  .arrow #right {
    margin-left: 640px;
    pointer-events: auto; }

.owl-carousel .owl-item img {
  width: 100%; }

.owl-nav, .owl-dots {
  display: none; }

.slider-holder {
  padding-top: 3%; }

#footer {
  width: 100%;
  position: absolute;
  height: 300px;
  background: #0f13186b;
  margin-top: 200em;
  display: flex;
  flex-direction: column;
  padding-top: 60px; }

.myInfo {
  margin: 10px auto; }

.top {
  width: 100%;
  display: flex;
  flex-direction: row; }

.bot {
  margin-right: 67px; }
  .bot a {
    padding: 0px 5px; }

.top p, .bot p {
  font-size: 16pt;
  font-family: cursive; }

.topNubex {
  position: fixed;
  right: 45px;
  bottom: 45px; }

@media print {
  * -webkit-print-color-adjust: exact;
  body {
    background: none; }

  .sliderBlock, #footer, .warpMiddleBlock, #down, #myBtn, .container, .iconSS, .backImgs, #line, .upperBlock, .printIcon, #aboutMy, .salaryBox, #canvas {
    display: none; }

  .description {
    width: 100%;
    margin: 50px 5px; }

  .middleBlock {
    margin: 500px 5px; }

  #popup1 {
    display: block;
    top: 230px;
    left: -150px; } }

/*# sourceMappingURL=style.css.map */
